<!-- 生成项目文档-->
<plugin> 
  <groupId>org.apache.maven.plugins</groupId>
	<artifactId>maven-javadoc-plugin</artifactId>
	<version>2.9.1</version>
	<configuration>
    <aggregate>true</aggregate>
	</configuration>
</plugin>

<!-- 源代码打包插件 -->  
<plugin>  
	<artifactId>maven-source-plugin</artifactId>  
	<version>2.1</version>  
	<configuration>  
	    <!-- <finalName>${project.build.name}</finalName> -->  
	    <attach>true</attach>  
	    <encoding>${project.build.sourceEncoding}</encoding>  
	</configuration>  
	<executions>
	    <execution>  
	        <phase>compile</phase>  
	        <goals>  
	            <goal>jar</goal>  
	        </goals>  
	    </execution>  
	</executions>  
</plugin>

<!-- jar包插件 -->  
<plugin>  
	<groupId>org.apache.maven.plugins</groupId>  
	<artifactId>maven-jar-plugin</artifactId>  
	<version>2.4</version>  
	<configuration>  
	    <archive>  
	        <manifest>  
	            <!-- 告知 maven-jar-plugin添加一个 Class-Path元素到 MANIFEST.MF文件，以及在Class-Path元素中包括所有依赖项 -->  
	            <addClasspath>true</addClasspath>  
	            <!-- 所有的依赖项应该位于 lib文件夹 -->  
	            <classpathPrefix>lib/</classpathPrefix>  
	            <!-- 当用户使用 lib命令执行JAR文件时，使用该元素定义将要执行的类名 -->  
	            <mainClass>com.zhengtian.tools.service.phone.MobilePhoneTool</mainClass>  
	        </manifest>  
	    </archive>  
	</configuration>  
</plugin>  

<!-- war插件 -->  
<plugin>  
	<groupId>org.apache.maven.plugins</groupId>  
	<artifactId>maven-war-plugin</artifactId>  
	<version>2.1.1</version>  
	<configuration>  
	    <!-- <warName>${project.build.name}</warName> -->  
	</configuration>  
</plugin>  

